.square-ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  background: white;
  position: relative;
}
.square-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.colorbarplot-ratio-box {
    height: 0;
    overflow: hidden;
    padding-top: 90%;
    background: white;
    position: relative;
  }